<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header text-center d-block">
    <h4 class="modal-title">Deleting user</h4>
  </div>
  <div class="modal-body text-center">
    <p>Do you want to delete the user selected?&hellip;</p>
  </div>

  <div class="modal-footer text-center d-block">
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onDelete(); c('Close click')">Delete User</button>
  </div>
</ng-template>

<button class="btn btn-outline-danger m-1" (click)="openVerticallyCentered()">x</button>
