<app-header [showLinks]="false" (onExitEvent)="exit()"></app-header>

<div *ngIf="!editMode"
     class="text-center">
  <button type="button" class="btn btn-success" (click)="onRegisterUser()">Register new User</button>
</div>

<add-user-form *ngIf="editMode" (addedUser)="addUserToList($event)"></add-user-form>

<div class="row my-2 " *ngIf="errorHasOccourred">
  <div class="col-12">
    <div class="text-center">
      'ops, something went wrong :('
      <button class="alert alert-info"
              (click)="executeUsersRequest()">
        Reload
      </button>
    </div>
  </div>
</div>


<div *ngIf="!errorHasOccourred" class="u-card lighter-background mx-0 my-3 px-0 text-center text-nowrap d-md-none">
  <app-confirmation-modal #confirmationModalSM
                          (confirmEvent)="onConfirm(confirmationModalSM.content)">

  </app-confirmation-modal>
</div>


<div class="row u-card lighter-background mx-0 mb-3 mt-md-3 px-0 text-center text-nowrap" *ngIf="!errorHasOccourred">
  <div class="col-5 text-right d-none d-md-block">
    <div ngbDropdown class="d-inline-block dropleft" placement="left">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Search By {{searchByParameter}}</button>
      <div ngbDropdownMenu class="mr-2 u-menu p-0">
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='name'">Search by name</li>
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='surname'">Search by surname</li>
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='email'">Search by email</li>
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='phone'">Search by phone</li>
      </div>
    </div>
  </div>
  <div class="col text-center d-md-none">
    <select-modal [selectedFilter]="searchByParameter" (selectEvent)="searchByParameter = $event"></select-modal>
  </div>
  <div class="col text-md-left">
    <input
      id="search"
      class="u-input form-control search-input"
      [class.u-input-invalid]="(listOfUsers | filterby: searchByParameter: searchString).length === 0"
      type="text"
      name="search"
      placeholder="Search users by {{searchByParameter}}"
      [(ngModel)]="searchString">
  </div>
  <div class="col text-center d-none d-md-block">
    <app-confirmation-modal #confirmationModalMD
                            (confirmEvent)="onConfirm(confirmationModalMD.content)">

    </app-confirmation-modal>
  </div>
</div>

<div *ngIf="!loadingService.isLoading() " appDynamicHeight>
  <div class="mx-auto table-responsive u-card lighter-background mb-2 u-height-50 u-height-md-60 p-1 p-md-2"
       #scrollingContainer
       shadowOnTable
       *ngIf="listOfUsers.length>0 ; else emptyList">

    <!-- VISIBLE ONLY FOR MOBILE -->
    <table class="table table-borderless d-md-none" *ngIf="isMobile">
      <tbody>
      <tr *ngFor="let user of listOfUsers | filterby: searchByParameter : searchString; let i=index">
        <td class="px-0">
          <div class="u-card lighter-background">
            <div class="row">
              <div class="col text-nowrap">
                <ul class="p-0"><span class="badge badge-info">ID</span> : {{i}}</ul>
                <ul class="p-0"><span class="badge badge-info">Name</span> : {{user.name}}</ul>
                <ul class="p-0"><span class="badge badge-info">Surname</span> : {{user.surname}}</ul>
                <ul class="p-0"><span class="badge badge-info">Email</span> : {{user.email}}</ul>
              </div>
            </div>
            <div class="row">
              <div class="col text-right">
                <delete-modal (deleteEvent)="onDeleteUser(user)"></delete-modal>
              </div>
              <div class="col text-center">
                <dropdown-menu [user]="user"></dropdown-menu>
              </div>
              <div class="col text-left">
                <button class="btn btn-outline-warning mb-2 mr-2" routerLink="/edit/{{i}}">Edit</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- VISIBLE ONLY FOR DESCKTOP -->
    <table class="table table-borderless" *ngIf="!isMobile">
      <tbody>
      <tr *ngFor="let user of listOfUsers | filterby: searchByParameter : searchString; let i=index">
        <td>
          <span class="badge badge-info">
            {{i}}
          </span>
        </td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>
          <div class="row">
            <div class="col-6">
              <delete-modal (deleteEvent)="onDeleteUser(user)"></delete-modal>
            </div>

            <div class="col-6">
              <dropdown-menu [user]="user"></dropdown-menu>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <ng-template #emptyList>
    <hr>
    <div class="text-center">_______________________ Please Register a user _______________________
    </div>
  </ng-template>
</div>

<!--<ngx-loading [show]="loadingService.isLoading()" [config]="{ fullScreenBackdrop: true }"></ngx-loading>-->
