<app-header [showLinks]="false" (onExitEvent)="exit()"></app-header>

<div *ngIf="!editMode"
     class="text-center">
  <button type="button" class="btn btn-success" (click)="onRegisterUser()">Register new User</button>
</div>

<add-user-form *ngIf="editMode" (addedUser)="addUserToList($event)"></add-user-form>

<hr>

<div class="row" *ngIf="errorHasOccourred">
  <div class="col-12">
    <div class="text-center">
      'ops, something went wrong :('
      <button class="alert alert-info"
              (click)="executeUsersRequest()">
        Reload
      </button>
    </div>
  </div>
</div>

<div class="row u-card lighter-background mx-0 px-0" *ngIf="!errorHasOccourred">
  <div class="col-sm-8 col-md text-center m-auto">
    <h2>List Of Users</h2>
    <p>Users are represented using a bootstrap table</p>
  </div>

  <div class="col text-center m-auto">
    <app-confirmation-modal (confirmEvent)="onConfirm()"></app-confirmation-modal>
  </div>
</div>

<hr>

<div *ngIf="!loadingService.isLoading()" appDynamicHeight>
  <div class="mx-auto table-responsive u-card lighter-background mb-2 u-height-50 u-height-md-60" #scrollingContainer shadowOnTable
       *ngIf="listOfUsers.length>0 ; else emptyList">

    <table class="table table-borderless">
      <tbody>
      <tr *ngFor="let user of listOfUsers; let i=index">
        <td>
          <span class="badge badge-info">
            {{i}}
          </span>
        </td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>
          <div class="row">
            <div class="col-6">
              <delete-modal (deleteEvent)="onDeleteUser(user)"></delete-modal>
            </div>

            <div class="col-6">
              <dropdown-menu [user]="user"></dropdown-menu>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #emptyList>
    <hr>
    <div class="text-center">_______________________ Please Register a user _______________________
    </div>
  </ng-template>
</div>

<ngx-loading [show]="loadingService.isLoading()" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
