<app-header [showLinks]="false"></app-header>

<div *ngIf="!editMode"
     class="text-center">
  <button type="button" class="btn u-btn u-btn-register-user u-font-bold" (click)="onRegisterUser()">Register new User</button>
</div>

<add-user-form *ngIf="editMode" (addedUser)="addUserToList($event)" (cancelEvent)="editMode=!editMode"></add-user-form>

<div class="row my-2 " *ngIf="errorHasOccourred">
  <div class="col-12">
    <div class="text-center">
      'ops, something went wrong :('
      <button class="alert alert-info"
              (click)="executeUsersRequest()">
        Reload
      </button>
    </div>
  </div>
</div>

<div *ngIf="!errorHasOccourred && isMobile" class="u-card lighter-background mx-0 my-3 px-0 text-center text-nowrap">
  <app-confirmation-modal></app-confirmation-modal>
  <button class="btn u-btn u-font-bold" (click)="onConfirm()">Confirm Users</button>
</div>

<!-- BUTTONS AND SEARCH LAYER -->
<div class="row u-card lighter-background mx-0 mb-3 mt-md-3 px-0 text-center text-nowrap" *ngIf="!errorHasOccourred">

  <!-- ORDER BY -->
  <div class="col text-left" *ngIf="!isMobile">
    <div ngbDropdown class="d-inline-block dropright" placement="right">
      <button class="btn u-btn" ngbDropdownToggle>Order By {{orderByParameter}}</button>
      <div ngbDropdownMenu class="ml-2 u-menu p-0">
        <li class="dropdown-item-text u-menu-option" (click)="orderByParameter='id'; orderListAccordingToParameter()">
          Order by id
        </li>
        <li class="dropdown-item-text u-menu-option" (click)="orderByParameter='name'; orderListAccordingToParameter()">
          Order by name
        </li>
        <li class="dropdown-item-text u-menu-option"
            (click)="orderByParameter='surname'; orderListAccordingToParameter()">Order by surname
        </li>
        <li class="dropdown-item-text u-menu-option"
            (click)="orderByParameter='email'; orderListAccordingToParameter()">Order by email
        </li>
        <li class="dropdown-item-text u-menu-option"
            (click)="orderByParameter='phone'; orderListAccordingToParameter()">Order by phone
        </li>
      </div>
    </div>
  </div>
  <!-- END OF ORDER BY -->

  <!-- SEARCH BY ON MOBILE -->
  <div class="col text-right" *ngIf="!isMobile">
    <div ngbDropdown class="d-inline-block dropleft" placement="left">
      <button class="btn u-btn" ngbDropdownToggle>Search By {{searchByParameter}}</button>
      <div ngbDropdownMenu class="mr-2 u-menu p-0">
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='name'">Search by name</li>
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='surname'">Search by surname</li>
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='email'">Search by email</li>
        <li class="dropdown-item-text u-menu-option" (click)="searchByParameter='phone'">Search by phone</li>
      </div>
    </div>
  </div>
  <!-- END OF SEARCH BY ON MOBILE -->

  <!-- SEARCH BY ON DESKTOP -->
  <div class="col text-center" *ngIf="isMobile">
    <select-modal [selectedFilter]="searchByParameter" (selectEvent)="searchByParameter = $event"></select-modal>
  </div>
  <!-- END OF SEARCH BY ON DESKTOP -->

  <!-- SEARCH FIELD -->
  <div class="col text-md-left">
    <input
      id="search"
      class="u-input form-control search-input"
      [class.u-input-invalid]="(listOfUsers | filterby: searchByParameter: searchString).length === 0"
      type="text"
      name="search"
      placeholder="Search users by {{searchByParameter}}"
      [(ngModel)]="searchString">
  </div>
  <!-- END OF SEARCH FIELD -->

  <!-- SEARCH BY ON MOBILE -->
  <div class="col text-center" *ngIf="!isMobile">
    <app-confirmation-modal></app-confirmation-modal>
    <button class="btn u-btn u-font-bold" (click)="onConfirm()">Confirm Users</button>
  </div>
  <!-- END OF SEARCH BY ON MOBILE -->
</div>
<!-- END OF BUTTONS AND SEARCH LAYER -->

<div *ngIf="!loadingService.isLoading() " appDynamicHeight>

  <!-- CONTAINER TITLES -->
  <div class="u-card lighter-background no-shadow no-border-bottom" *ngIf="!isMobile">
    <div class="row">
      <div class="col-1"><span class="badge badge-dark">ID</span></div>
      <div class="col-2"><span class="badge badge-dark">NAME</span></div>
      <div class="col-2"><span class="badge badge-dark">SURNAME</span></div>
      <div class="col-3"><span class="badge badge-dark">EMAIL</span></div>
      <div class="col-4 text-right text-lg-center"><span class="badge badge-dark">MANAGE</span></div>
    </div>
  </div>
  <!-- END OF CONTAINER TITLES -->

  <!-- CONTAINER -->
  <div class="table-responsive u-card lighter-background no-border-top-md mb-2"
       [class.p-1]="isMobile"
       #scrollingContainer
       appShadowOnScroll [shadowClass]="'shadowOnTop'"
       *ngIf="listOfUsers.length>0 ; else emptyList">

    <!-- CONTAINER SMALL VISIBLE ONLY FOR MOBILE -->
    <div *ngIf="isMobile">
      <div class="u-card lighter-background my-2"
           *ngFor="let user of listOfUsers | filterby: searchByParameter : searchString;">
        <div class="row">
          <div class="col text-nowrap">
            <ul class="p-0 text-truncate"><span class="badge badge-info">ID</span> : {{user.id}}</ul>
            <ul class="p-0 text-truncate"><span class="badge badge-info">Name</span> : {{user.name}}</ul>
            <ul class="p-0 text-truncate"><span class="badge badge-info">Surname</span> : {{user.surname}}</ul>
            <ul class="p-0 text-truncate"><span class="badge badge-info">Email</span> : {{user.email}}</ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <delete-modal (deleteEvent)="onDeleteUser(user)"></delete-modal>
          </div>
          <div class="col text-center">
            <button class="btn btn-outline-warning m-1" routerLink="/edit/{{user.id}}">Edit</button>
          </div>
          <div class="col text-left">
            <dropdown-menu [user]="user"></dropdown-menu>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CONTAINER SMALL-->

    <!-- CONTAINER MEDIUM VISIBLE ONLY FOR DESKTOP -->
    <div *ngIf="!isMobile">
      <div class="row" *ngFor="let user of listOfUsers | filterby: searchByParameter : searchString">
        <div class="col-1"><span class="badge badge-info">{{user.id}}</span></div>
        <div class="col-2 text-truncate">{{user.name}}</div>
        <div class="col-2 text-truncate">{{user.surname}}</div>
        <div class="col-3 text-truncate">{{user.email}}</div>
        <div class="col-4 text-truncate">
          <div class="row text-right text-lg-center">
            <div class="col-12 col-lg">
              <delete-modal (deleteEvent)="onDeleteUser(user)"></delete-modal>
            </div>
            <div class="col-12 col-lg">
              <button class="btn btn-outline-warning m-1" routerLink="/edit/{{user.id}}">Edit</button>
            </div>
            <div class="col-12 col-lg">
              <dropdown-menu [user]="user"></dropdown-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CONTAINER MEDIUM -->
  </div>
  <!-- END OF TABLE -->

  <ng-template #emptyList>
    <hr>
    <div class="text-center">_______________________ Please Register a user _______________________
    </div>
  </ng-template>
</div>
