<app-header [showLinks]="true"></app-header>

<div class="container my-3 my-md-5">

    <form #loginForm="ngForm" novalidate
          class="max-width-of-form mx-auto">

        <div class="container u-card">
            <div class="row mt-4 mb-3">
                <div class="col text-center u-title">
                    Login Form
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="text"
                           class="form-control u-input no-autocomplete text-truncate"
                           [class.u-input-invalid]="loginForm.submitted && emailOfUser.errors"
                           [(ngModel)]="email"
                           minlength="4"
                           name="email"
                           placeholder="E-mail"
                           required
                           [pattern]="emailPattern"
                           #emailOfUser="ngModel">

                    <div *ngIf="loginForm.submitted">

                        <div *ngIf="emailOfUser.errors?.required" class="alert alert-danger mb-0">
                            Email of user is required
                        </div>

                        <div *ngIf="emailOfUser.errors?.pattern" class="alert alert-danger mb-0">
                            Email of user not valid.
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="u-input input-group" #passwordFieldGroupFocus
                         [class.u-input-invalid]="loginForm.submitted && passwordOfTheUser.errors"
                         [class.u-input-focused]="passwordFieldGroupFocus.value"
                         (click)="passwordInputField.focus()">
                        <input
                                type="{{isPasswordShownLikePlanText ? 'password' : 'text'}}"
                                class="form-control u-input border-0 no-autocomplete text-truncate"
                                [(ngModel)]="password"
                                name="passwordOfUser"
                                placeholder="Password"
                                minlength="4"
                                maxlength="16"
                                required
                                [pattern]="passwordPattern"
                                (focus)="passwordFieldGroupFocus.value = true"
                                (focusout)="passwordFieldGroupFocus.value = false"
                                #passwordOfTheUser="ngModel"
                                #passwordInputField/>

                        <div class="pr-4 my-auto">
                            <svg-icon src="{{isPasswordShownLikePlanText ? '/assets/svg/eye.svg' : '/assets/svg/eye-off.svg'}}"
                                      style="cursor: pointer"
                                      (click)="isPasswordShownLikePlanText = !isPasswordShownLikePlanText; passwordInputField.focus()">
                            </svg-icon>
                        </div>
                    </div>

                    <div *ngIf="loginForm.submitted">

                        <div *ngIf="passwordOfTheUser.errors?.required" class="alert alert-danger mb-0">
                            Password of user is required
                        </div>

                        <div *ngIf="passwordOfTheUser.errors?.pattern" class="alert alert-danger mb-0">
                            Password of user not valid.
                        </div>

                        <div *ngIf="passwordOfTheUser.errors?.minlength" class="alert alert-danger mb-0">
                            The length of the password must be at least of 4 characters
                        </div>

                    </div>
                    <div class="checkbox my-4 text-truncate">
                        <label><input #checkbox type="checkbox" name="remember">
                            Remember mail address</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button #button type="submit"
                            [class.u-btn-error]="(passwordOfTheUser.errors || emailOfUser.errors) && loginForm.submitted"
                            class="btn u-btn"
                            (click)="passwordOfTheUser.reset(password); emailOfUser.reset(email); userHasClickedButtonOfLogin();">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="row my-4">
        <div class="col text-center">
            <div *ngIf="loginForm.submitted && !passwordOfTheUser.dirty && !emailOfUser.dirty" class="u-card p-0">

                <div *ngIf="passwordOfTheUser?.errors || emailOfUser?.errors" class="alert alert-danger">
                    No requests sent to the Server ( please respect e-mail and password pattern )
                </div>

                <div *ngIf="loginForm.errors?.error401" class="alert alert-danger mb-0">
                    Access Denied: {{loginForm.errors.error401}}

                </div>


                <div *ngIf="loginForm.errors?.genericError" class="alert alert-danger mb-0">
                    {{loginForm.errors.genericError}}
                </div>

            </div>
        </div>
    </div>
</div>
