.u-font-small {
  font-size: 14px;
}

.u-font-medium {
  font-size: 16px;
}

.u-font-bold {
  font-weight: bold;
}

.u-audio-wide-Regular-font {
  font-family: 'Audiowide', cursive;
}

.u-font-gray {
  color: #a6a6a6;
}

.u-font-blue {
  color: #377cff;
}
