.u-title {
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 35px;
  line-height: 44px;
  font-weight: bold;

  background: -webkit-linear-gradient(#00c1ff, #1f50ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.u-text {
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;

  background: -webkit-linear-gradient(#00c1ff, #1f50ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}