<form (ngSubmit)="onSubmit(f)"
      #f="ngForm">

  <div class="row">
    <div class="col-md-4 py-1 py-md-2">
      <label class="d-md-inline-block"
             for="name">
        Name
      </label>

      <div class="d-none d-md-inline-block pl-2"
           data-toggle="tooltip"
           data-placement="left"
           title="minlength: 3">

        <span class="badge badge-dark">?</span>
      </div>

      <input
        id="name"
        class="u-input form-control u-input-height-40"
        [class.u-input-invalid]="!inputName.valid && inputName.touched"
        type="text"
        name="name"
        ngModel
        required
        minlength="3"
        #inputName="ngModel">

      <div class="alert alert-danger" *ngIf="!inputName.valid && inputName.touched">
        Name is invalid
      </div>
    </div>

    <div class="col-md-4 py-1 py-md-2">
      <label class="d-md-inline-block"
             for="surname">
        Surname
      </label>

      <div class="d-none d-md-inline-block pl-2"
           data-toggle="tooltip"
           data-placement="left"
           title="minlength: 3">

        <span class="badge badge-dark">?</span>
      </div>

      <input
        id="surname"
        class="u-input form-control u-input-height-40"
        [class.u-input-invalid]="!inputSurname.valid && inputSurname.touched"
        type="text"
        name="surname"
        ngModel
        required
        minlength="3"
        #inputSurname="ngModel">

      <div class="alert alert-danger" *ngIf="!inputSurname.valid && inputSurname.touched">
        Surname is invalid
      </div>
    </div>


    <div class="col-md-4 py-1 py-md-2">
      <label class="d-md-inline-block"
             for="email">
        Email
      </label>

      <div class="d-none d-md-inline-block pl-2"
           data-toggle="tooltip"
           data-placement="left"
           title="insert a valid email">

        <span class="badge badge-dark">?</span>
      </div>

      <input
        id="email"
        class="u-input form-control u-input-height-40"
        [class.u-input-invalid]="!inputEmail.valid && inputEmail.touched"
        type="email"
        name="email"
        ngModel
        required
        email
        #inputEmail="ngModel">

      <div class="alert alert-danger" *ngIf="!inputEmail.valid && inputEmail.touched">
        Email is invalid
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 py-1 py-md-2">
      <label class="d-md-inline-block"
             for="phone">
        Phone
      </label>

      <div class="d-none d-md-inline-block pl-2"
           data-toggle="tooltip"
           data-placement="left"
           title="insert only numbers">

        <span class="badge badge-dark">?</span>
      </div>

      <input
        id="phone"
        class="u-input form-control u-input-height-40"
        [class.u-input-invalid]="!inputPhone.valid && inputPhone.touched"
        type="text"
        name="phone"
        ngModel
        required
        minlength="10"
        maxlength="10"
        [pattern]="phonePattern"
        #inputPhone="ngModel">

      <div class="alert alert-danger" *ngIf="!inputPhone.valid && inputPhone.touched">
        Phone is invalid
      </div>
    </div>

    <div class="col-md-4 py-1 py-md-2">
      <label class="d-md-inline-block"
             for="password">
        Password
      </label>

      <div class="d-none d-md-inline-block pl-2"
           data-toggle="tooltip"
           data-placement="left"
           title="Password must cointains at least one character">

        <span class="badge badge-dark">?</span>
      </div>

      <input
        id="password"
        class="u-input form-control u-input-height-40"
        [class.u-input-invalid]="!inputPassword.valid && inputPassword.touched"
        type="password"
        name="password"
        ngModel
        required
        [pattern]="passwordPattern"
        #inputPassword="ngModel">

      <div class="alert alert-danger" *ngIf="!inputPassword.valid && inputPassword.touched">
        Password is invalid
      </div>
    </div>

    <div class="col-md-4 py-1 py-md-2 text-center">

      <br>

      <button [disabled]="!f.valid" class="btn u-btn u-btn-register-user u-font-bold" type="submit">
        Register User
      </button>
    </div>
  </div>
</form>
