@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

a {
  color: white;
  text-decoration: none;
}

.header-height {
  height: 45px;

  @include media-breakpoint-up(md) {
    height: 60px !important;
  }
}

.u-rounded-border-bottom {
  border-radius: 0px 0px 10px 10px;
}
