/* You can add global styles to this file, and also import other style files */


@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

// FORM

.u-form {
  max-width: 400px;
}

// INPUTS

.u-input {
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  color: #35214f;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;

  &.search-input{
    font-size: 16px;
    border-radius: 12px;
    border: solid 1px transparent;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;

    @include media-breakpoint-up(lg) {
      width: 80%;
      height: 50px !important;
    }

    @include media-breakpoint-down(md) {
      min-width: 200px;
      width: 100%;
      height: 40px !important;
    }
  }

  &.form-control {
    font-size: 16px;
    height: 60px;
    padding: 20px;
  }

  &.u-input-invalid {
    border-color: #f68c9c !important;
  }

  &:focus, &.u-input-focused {
    box-shadow: none;
    border-color: #1c56d9;

    &.u-input-invalid {
      border-color: #f23d58;
    }
  }

  &::placeholder {
    color: #afb6bd;
  }
}

// CARD

.u-card {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06);

  &.lighter-background {
    background-color: rgba(255, 255, 255, 0.36);
  }
}

$backgroundColor1: #377cff;
$backgroundColor2: #00c1ff;
$backgroundColor3: white;

body {
  background-color: $backgroundColor2;
  @include media-breakpoint-up(md) {
    background: -webkit-linear-gradient(141deg, $backgroundColor1 0%, $backgroundColor2 51%, $backgroundColor3 75%) fixed !important;
  }
}

// BUTTON

.u-btn {
  background-image: -webkit-linear-gradient(99deg, $backgroundColor2, $backgroundColor1);
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: -0.6px;
  text-transform: capitalize;
  text-align: center;
  box-shadow: 0 3px 24px 0 #00a6e9;

  &.u-btn-error {
    box-shadow: 0 3px 24px 0 #e9132f;
  }

  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), -webkit-linear-gradient(99deg, $backgroundColor2, $backgroundColor1);
  }

  &:active {
    // NOTE: !important is needed to override the bootstrap behaviour
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(99deg, #1020d4, $backgroundColor2) !important;
  }

  &:focus {
    outline: none;
  }
}

// TEXT

.u-title {
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;

  background: -webkit-linear-gradient($backgroundColor2, #1f50ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.u-text {
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;

  background: -webkit-linear-gradient($backgroundColor2, #1f50ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// SHADOW ON SCROLLING

.shadowOnLeft {
  box-shadow: inset 5px 0px 10px -3px #616161;
}

.shadowOnRight {
  box-shadow: inset -5px 0px 10px -3px #616161;
}

.shadowOnRightAndOnLeft {
  box-shadow: inset -5px 0px 10px -3px #616161, inset 5px 0px 10px -3px #616161;
}

.shadowBottomBlue {
  box-shadow: 0px 13px 25px 0px rgba(60, 193, 255, 0.47) !important;
}

// BLOCK POSITION

.u-sticky-top {
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: -webkit-linear-gradient(141deg, $backgroundColor1 0%, $backgroundColor2 51%, $backgroundColor3 75%);
  background-size: 100% 100vh;
}

// General

.u-pointer{
  cursor: pointer;
}