<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header text-center d-block">
    <h4 class="modal-title">Select a type of filter</h4>
  </div>
  <div class="modal-body text-center">
    <p class="mx-0 my-1 u-menu-option" (click)="onSelect('name'); c('Close click')">Name</p>
    <p class="mx-0 my-1 u-menu-option" (click)="onSelect('surname'); c('Close click')">Surname</p>
    <p class="mx-0 my-1 u-menu-option" (click)="onSelect('phone'); c('Close click')">Phone</p>
    <p class="mx-0 my-1 u-menu-option" (click)="onSelect('email'); c('Close click')">Email</p>
  </div>
</ng-template>

<div class="text-center my-2">
  <span class="d-inline pr-3"> Filter by: {{selectedFilter}}</span>
  <svg-icon src="{{'/assets/svg/list.svg'}}"
            class="u-pointer"
            (click)="openVerticallyCentered()">
  </svg-icon>
</div>
